-url=@ccwl.persisted? ? person_cwl_person_path(@person,@ccwl) : person_cwl_people_path(@person)
=form_for @ccwl, :url=>url do |f|
  =t 'helpers.label.competence_with_level.competence'
  =f.select :competence, @competences.collect { |comp| [comp.name, comp.id] }
  =t 'helpers.label.competence_with_level.level'
  =f.select :level, @levels.collect { |lev| [lev.name, lev.id] }
  =f.submit t('save')
